body {
	background-color: #292B2C;
	color: #FFFFFF;
	font-family: arial;
}

nav {
	background-color: #FFFFFF;
	padding: 10px;
}

nav ul {
	text-align: center;
}

nav ul li {
	display: inline;
	list-style: none;
	margin-right: 20px;
}

nav ul li a {
	padding: 20px;
	text-decoration: none;
	color: #22a6b3;
}

nav ul li a:hover {
	background-color: #ff7979;
	color: #FFFFFF;
}

header {
	text-align: center;
}

img {
	width: 100%;
}

.selected {
	background-color: #ff7979;
	color: #FFFFFF;
}

.center-div {
	margin: 0 auto;
	width:20%;
	text-align: center;
}

.avg-incident {
	font-size: 200%;
}

.avg-diff {
	background-color: #545761;
	padding: 20px;
	margin-bottom: 20px;
}

.rounded-box {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.good {
	color: #6ab04c;
}

.bad {
	color: #eb4d4b;
}