body {
	background-color: #6ad6e3;
	color: #130f40;
	font-family: arial;
}

nav {
	background-color: #130f40;
	padding: 10px;
}

nav ul {
	text-align: center;
}

nav ul li {
	display: inline;
	list-style: none;
	margin-right: 20px;
}

nav ul li a {
	padding: 20px;
	text-decoration: none;
	color: #22a6b3;
}

nav ul li a:hover {
	background-color: #ff7979;
	color: #130f40;
}

header {
	text-align: center;
}

img {
	width: 100%;
}

.selected {
	background-color: #ff7979;
	color: #130f40;
}

.center-div {
	margin: 0 auto;
	width: 18%;
	text-align: center;
}

.avg-incident {
	font-size: 200%;
}

.avg-diff {
	background-color: #130f40;
	padding: 20px;
}

.increase {
	color: #eb4d4b;
}

.decrease {
	color: #6ab04c;
}