<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/" class="selected">Home</a></li>
                <li><a href="/freshdesk">Time between incidents</a></li>
                <li><a href="/pingdom">Availability report</a></li>
            </ul>
        </nav>
        <h1>{{.Title}}</h1>
        <h2>Welcome to the PRE dashboard</h2>
        <p><em>Where styles are optional and it's always down</em></p>
    </header>

    <div class="center-div">
        <img src="https://yourbasic.org/golang/square-gopher.png" alt="wewlad"/>
    </div>
</body>
</html>