<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta http-equiv="refresh" content="300">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/" class="selected rounded-box">Home</a></li>
                <li><a href="/incidents" class="rounded-box">Time between incidents</a></li>
                <li><a href="/pingdom" class="rounded-box">Availability report</a></li>
                <li><a href="/toil" class="rounded-box">Toil numbers</a></li>
            </ul>
        </nav>
        <h1>{{.Title}}</h1>
        <h2>Welcome to the PRE dashboard</h2>
        <p><em>Where styles are optional and it's always down</em></p>
    </header>

    <div class="center-div">
        <img src="https://github.com/golang-samples/gopher-vector/blob/master/gopher.png?raw=true" alt="wewlad"/>
    </div>
</body>
</html>