<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/" class="rounded-box">Home</a></li>
                <li><a href="/incidents" class="rounded-box">Time between incidents</a></li>
                <li><a href="/pingdom" class="selected rounded-box">Availability report</a></li>
                <li><a href="/toil" class="rounded-box">Toil numbers</a></li>
            </ul>
        </nav>
        <h1>{{.Title}}</h1>
    </header>

    <div class="center-div">
        <h2>Uptime from the last 2 weeks in Pingdom</h2>
        <div class="results-table">
            <div class="avg-diff rounded-box">
                <h3>CWP Total uptime: {{.CwpUptime}}</h3>
                <p>SLA 99.7%</p>
                {{ if .CwpDiff}}
                    {{ if .CwpIncrease }}
                        <p class="good">Increased by {{.CwpDiff}}%</p>
                    {{ else }}
                        <p class="bad">Decreased by {{.CwpDiff}}%</p>
                    {{ end }}
                {{ end }}
            </div>
            <table>
                <tr>
                    <th>Availability</th>
                    <th>Check</th>
                    <th>Downtime</th>
                </tr>
            {{range .CwpRes}}
                <tr>
                    <td>{{.Availability}}%</td>
                    <td>{{.Name}}</td>
                    <td>{{.Downtime}}</td>
                </tr>
            {{end}}
            </table>
        </div>

        <div class="results-table">
            <div class="avg-diff rounded-box">
                <h3>SSP Total uptime: {{.SspUptime}}</h3>
                <p>SLO 99.9%</p>
                {{ if .SspDiff}}
                    {{ if .SspIncrease }}
                        <p class="good">Increased by {{.SspDiff}}%</p>
                    {{ else }}
                        <p class="bad">Decreased by {{.SspDiff}}%</p>
                    {{ end }}
                {{ end }}
            </div>
            <table>
                <tr>
                    <th>Availability</th>
                    <th>Check</th>
                    <th>Downtime</th>
                </tr>
            {{range .SspRes}}
                <tr>
                    <td>{{.Availability}}%</td>
                    <td>{{.Name}}</td>
                    <td>{{.Downtime}}</td>
                </tr>
            {{end}}
            </table>
        </div>
    </div>
</body>
</html>